.loginContainer {
  /* padding: 50px 20px (Top-Bottom) (Left-Right) */
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  -webkit-box-shadow: 6px 6px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 19px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 19px -1px rgba(0, 0, 0, 0.75);
  margin-top: 35vh;
}
.backGroundC {
  background: url(./uploads/BG.png) repeat;
  width: 100%;
  height: 100vh;
}
.btnsuccess {
  background: #301934;
  color: #c0c0c0;
  margin-top: 10px;
}

.checkbox > label {
  color: #c0c0c0;
}

.loginContainer > h3 {
  color: #c0c0c0;
}

.btnsuccess:hover {
  color: white;
}
#lblhead {
  padding-top: 5px;
}
